{% extends 'layouts.html' %}

{% load static %}
{% block title %}
<title>Products Deatils</title>
{% endblock %}


{% block main-content %}

{% include 'users/header.html' %}

<!-- start of product section -->
<div class="container my-3">
  <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md-3">
          <img src="/{{product.product_image}}" alt="{{product.product_name}} " class="product-image">
      </div>
      <div class="col-md-8">
          <h1>{{product.product_name}}</h1>
          <h3 class="text-success">Rs.{{product.product_price}}</h3>
          <strong> Available Stock :{{product.stock}}</strong>
          <br>
          <strong> Category : {{product.category}}</strong>
          <br>
          <p>{{product.product_description}}</p>
          <div class="my-3"><a href="/addtocart/{{product.id}}" class="btn custom-cart-button">Add to Cart
            </a> </div>
       
        
          


      </div>
  </div>

</div>
<style>
/* Custom Add to Cart button */
.custom-cart-button {
    background-color: #29a36a; 
    color: white; 
    font-size: 12px; 
    padding: 8px 14px; 
    border-radius: 20px; 
    border: none; 
    text-decoration: none; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    max-width: 180px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, box-shadow 0.3s; 
}


.custom-cart-button i {
    margin-right: 8px; 
    font-size: 14px; 
}


.custom-cart-button:hover {
    background-color: #29a36a;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
    color: white; /
}


.custom-cart-button:active {
    background-color: #29a36a; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.product-image {
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
  }


</style>

<!-- end of product section -->






{% include 'users/footer.html' %}
{% endblock %}