{% extends 'layouts.html' %}

{% load static %}
{% block title %}
<title>{{ category_name }}</title>
{% endblock %}


{% block main-content %}

{% include 'users/header.html' %}
  <!-- category_product.html -->
   <h1>{{ page_title }}</h1>
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for item in products %}
        <div class="col">
          <div class="card">
            <!-- Product Image -->
            <img src="/{{ item.product_image }}" class="card-img-top" alt="{{ item.product_name }}">
            
            <div class="card-body">
              <!-- Product Name -->
              <h5 class="card-title">{{ item.product_name }}</h5>
              
              <!-- Product Price -->
              <h3>Rs.{{ item.product_price }}</h3>
      
              <!-- View Product Button -->
              <a href="{% url 'users:product_details' item.id %}" class="btn btn-primary">
                View Product
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <style>
    .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }

  .card-title {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }

  .btn-primary {
    background-color: #063c184c;
    border: none;
  }

  .btn-primary:hover {
    background-color: #29a36a;
  }

  .btn-outline-danger {
    border-color: #29a36a;
    color: #29a36a;
  }

  .btn-outline-danger:hover {
    background-color: #29a36a;
    color: white;
  }

  .text-primary {
    font-size: 1.125rem;
    font-weight: bold;
  }
  </style>


  
  {% include 'users/footer.html' %}
  

{% include 'users/footer.html' %}
{% endblock %}
