{% extends 'layouts.html' %}

{% load static %}
{% block title %}
<title>Products</title>
{% endblock %}


{% block main-content %}
<h2 class="text-center">All Products</h2>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Quantity Stock</th>
                        <th>Product Description</th>
                        <th>Image</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in products %}
                    <tr>
                        <td>{{item.product_name}}</td>
                        <td>{{item.product_price}}</td>
                        <td>{{item.stock}}</td>
                        <td>{{item.product_description}}</td>
                        <td>{{item.category.category_name}}</td>
                        <td><img src="/{{item.product_image}}" alt="{{item.product_name}}" width="100"></td>

                        <td>
                            <a href="/products/updateproduct/{{item.id}}" class="btn btn-primary">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                            <br>
                            <br>
                           <a href="/products/deleteproducts/{{item.id}}" class="btn btn-danger" onclick="return confirm('Are you sure want to delete this product')">
                                 <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <img src="{% static 'images/a.jpg'}" alt="">
        </div>
    </div>
</div>

{% endblock %}